[submodule "layers/meta-arm"]
	path = layers/meta-arm
	url = git://git.yoctoproject.org/meta-arm
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
[submodule "layers/meta-orangepi-r1plus-bsp"]
	path = layers/meta-orangepi-r1plus-bsp
	url = git@github.com:Blink-Project/meta-orangepi-r1plus-bsp.git
[submodule "layers/meta-virtualization"]
	path = layers/meta-virtualization
	url = git://git.yoctoproject.org/meta-virtualization
[submodule "layers/meta-rust"]
	path = layers/meta-rust
	url = https://github.com/meta-rust/meta-rust.git
[submodule "layers/poky"]
	path = layers/poky
	url = git://git.yoctoproject.org/poky.git
[submodule "layers/meta-blinkos"]
	path = layers/meta-blinkos
	url = git@github.com:Blink-Project/meta-blinkos.git
